<% include ../partials/header %>
  <div class="container-fluid">
    <div class="row">
      <% include ../partials/sidenav-top %>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/">
            <i class="fas fa-home"></i> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manager">
            <i class="fas fa-user"></i> Manager Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/manager/employees">
            <i class="fas fa-users"></i> Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employee/add"> <i class="fas fa-tasks"></i> Tasks</a>
        </li>
        <% include ../partials/sidenav-bottom %>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Employees</h1>
            </div>

            <div class="col">
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addEmployeeForm">Add new employee</button>
            </div>
            <br>

            <div class="col">
              <% if (items.length > 0) { %>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th style="width: 1%; text-align: center">EmployeeID</th>
                      <th style="width: 49%">Name</th>
                      <th style="width: 30%">CurrentPosition</th>
                      <th solspan="2" style="width: 20%; text-align: center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% items.forEach (function(item, index) { %>
                      <tr>
                        <td style="width: 1%; text-align: center">
                          <%= item.EmployeeID %>
                        </td>
                        <td style="width: 49%">
                          <%= item.Name %>
                        </td>
                        <td style="width: 30%">
                          <%= item.CurrentPosition %>
                        </td>
                        <td solspan="2" style="width: 20%; text-align: center">
                          <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#editEmployeeForm">Edit</button>
                          <!-- <a href="/manager/employees/edit/<%= item.EmployeeID %>" class="btn btn-success">Edit</a> -->
                          <a href="/manager/employees/delete/<%= item.EmployeeID %>" class="btn btn-outline-danger">Delete</a>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
                <% } else { %>
                  <p>
                    <strong>There is no data available.</strong>
                  </p>
                  <% } %>
            </div>


            <!-- add employee form modal -->
            <div>
              <div class="modal fade" id="addEmployeeForm" tabindex="-1" role="dialog" aria-labelledby="addEmployeeFormLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <form method="post" action="/manager/employees/add">
                      <div class="modal-header">
                        <h4 class="modal-title" id="addEmployeeFormLabel">Add employee</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">

                        <div class="">
                          <label for="employeeName" class="col-2 col-form-label">
                            <b>Name</b>
                          </label>
                          <div class="col-10">
                            <input type="text" name="employeeName" value="" class="form-control">
                          </div>
                        </div>

                        <div class="">
                          <label for="employeePosition" class="col-2 col-form-label">
                            <b>Employee's position</b>
                          </label>
                          <div class="col-10">
                            <input type="text" name="employeePosition" value="" class="form-control">
                          </div>
                        </div>


                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                          <button type="submit" name="submit" class="btn btn-outline-success">Save changes</button>
                        </div>
                    </form>

                    </div>
                  </div>
                </div>
              </div>

              <!-- edit employee form modal -->
              <div>
                <div class="modal fade" id="editEmployeeForm" tabindex="-1" role="dialog" aria-labelledby="editEmployeeFormLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">

                      <form method="post" action="/manager/employees/edit">
                        <div class="modal-header">
                          <h4 class="modal-title" id="editEmployeeFormLabel">Edit employee</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                          <div class="">
                            <label for="employeeName" class="col-2 col-form-label">
                              <b>Name</b>
                            </label>
                            <div class="col-10">
                              <input type="text" name="employeeName" value="" class="form-control">
                            </div>
                          </div>

                          <div class="">
                            <label for="employeePosition" class="col-2 col-form-label">
                              <b>Employee's position</b>
                            </label>
                            <div class="col-10">
                              <input type="text" name="employeePosition" value="" class="form-control">
                            </div>
                          </div>


                          <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                            <button type="submit" name="submit" class="btn btn-outline-success">Save changes</button>
                          </div>
                      </form>

                      </div>
                    </div>
                  </div>
                </div>
          </main>

          <% include ../partials/footer %>