<% include ../partials/header %>
  <div class="container-fluid">
    <div class="row">
      <% include ../partials/sidenav-top %>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/">
            <i class="fas fa-home"></i> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manager">
            <i class="fas fa-user"></i> Manager Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manager/employees">
            <i class="fas fa-users"></i> Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/manager/tasks"> <i class="fas fa-tasks"></i> Tasks</a>
        </li>
        <% include ../partials/sidenav-bottom %>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Tasks</h1>
            </div>

            <div class="col">
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addTaskForm">Add new task</button>
            </div>
            <br>
            
            <!-- Outstanding Tasks -->
            <h4 class="h5">Outstanding Tasks</h4>
            <div class="col">
              <% if (items.length > 0) { %>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th style="width: 1%; text-align: center">TaskID</th>
                      <th style="width: 14%">Status</th>
                      <th style="width: 20%">DeliveryTime</th>
                      <th style="width: 15%">PickupAddress</th>
                      <th style="width: 15%">DestinationAddress</th>
                      <th style="width: 15%">Employee</th>
                      <th solspan="2" style="width: 20%; text-align: center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% items.forEach (function(item, index) { %>
                      <% if (item.Status == "Open" || item.Status == "Assigned") { %>
                        <tr>
                          <td style="width: 1%; text-align: center">
                            <%= item.TaskID %>
                          </td>
                          <td style="width: 14%">
                            <%= item.Status %>
                          </td>
                          <td style="width: 20%">
                            <% include ../partials/structured-time %>
                          </td>
                          <td style="width: 15%">
                            <%= item.PickupAddress %>
                          </td>
                          <td style="width: 15%">
                            <%= item.DestinationAddress %>
                          </td>
                          <td style="width: 15%">
                            <%= item.Name %>
                          </td>
                          <td solspan="2" style="width: 20%; text-align: center">
                            <button type="button" class="btn btn-outline-success edit-task" data-toggle="modal" data-target="#editTaskForm"
                            data-deliverytime="<%= item.DeliveryTime %>" data-pickupaddress="<%= item.PickupAddress %>" 
                            data-destinationaddress="<%= item.DestinationAddress %>" data-id="<%= item.TaskID %>">Edit</button>
                            <!-- <a href="/manager/employees/edit/<%= item.EmployeeID %>" class="btn btn-success">Edit</a> -->
                            <a href="/manager/tasks/delete/<%= item.TaskID %>" class="btn btn-outline-danger">Delete</a>
                          </td>
                        </tr>
                      <% } %>
                    <% }); %>
                  </tbody>
                </table>
                <% } else { %>
                  <p>
                    <strong>There is no data available.</strong>
                  </p>
                  <% } %>
            </div>

            <!-- Finished Tasks -->
            <h4 class="h5">Finished Tasks</h4>
            <div class="col">
              <% if (items.length > 0) { %>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th style="width: 1%; text-align: center">TaskID</th>
                      <th style="width: 14%">Status</th>
                      <th style="width: 20%">DeliveryTime</th>
                      <th style="width: 15%">PickupAddress</th>
                      <th style="width: 15%">DestinationAddress</th>
                      <th style="width: 15%">Employee</th>
                      <th solspan="2" style="width: 20%; text-align: center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% items.forEach (function(item, index) { %>
                      <% if (item.Status == "Done") { %>
                        <tr>
                          <td style="width: 1%; text-align: center">
                            <%= item.TaskID %>
                          </td>
                          <td style="width: 14%">
                            <%= item.Status %>
                          </td>
                          <td style="width: 20%">
                            <% include ../partials/structured-time %>
                          </td>
                          <td style="width: 15%">
                            <%= item.PickupAddress %>
                          </td>
                          <td style="width: 15%">
                            <%= item.DestinationAddress %>
                          </td>
                          <td style="width: 15%">
                            <%= item.Name %>
                          </td>
                          <td solspan="1" style="width: 20%; text-align: center">
                            <!-- <a href="/manager/employees/edit/<%= item.EmployeeID %>" class="btn btn-success">Edit</a> -->
                            <a href="/manager/tasks/delete/<%= item.TaskID %>" class="btn btn-outline-danger">Delete</a>
                          </td>
                        </tr>
                      <% } %>
                    <% }); %>
                  </tbody>
                </table>
                <% } else { %>
                  <p>
                    <strong>There is no data available.</strong>
                  </p>
                  <% } %>
            </div>
            
            <!-- add task form modal -->
            <div>
              <div class="modal fade" id="addTaskForm" tabindex="-1" role="dialog" aria-labelledby="addTaskFormLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <form method="post" action="/manager/tasks/add">
                      <div class="modal-header">
                        <h4 class="modal-title" id="addTaskFormLabel">Add task</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">

                        <div class="">
                          <label for="deliveryTime" class="col-2 col-form-label">
                            <b>Delivery Time</b>
                          </label>
                          <div class="col-10">
                            <input type="datetime-local" name="deliveryTime" value="" class="form-control">
                          </div>
                        </div>

                        <div class="">
                          <label for="pickupAddress" class="col-2 col-form-label">
                            <b>Pickup Address</b>
                          </label>
                          <div class="col-10">
                            <input type="text" name="pickupAddress" value="" class="form-control">
                          </div>
                        </div>

                        <div class="">
                          <label for="destinationAddress" class="col-2 col-form-label">
                            <b>Destination Address</b>
                          </label>
                          <div class="col-10">
                            <input type="text" name="destinationAddress" value="" class="form-control">
                          </div>
                        </div>

                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                          <button type="submit" name="submit" class="btn btn-outline-success">Save changes</button>
                        </div>
                    </form>

                    </div>
                  </div>
                </div>
              </div>

              <!-- edit task form modal -->
            <div>
              <div class="modal fade" id="editTaskForm" tabindex="-1" role="dialog" aria-labelledby="editTaskFormLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <form id="editFormId" method="post" action="/manager/tasks/edit/">
                      <input type="hidden" id="editFormTaskID" name="taskId"/>
                      <div class="modal-header">
                        <h4 class="modal-title" id="addTaskFormLabel">Edit task</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">

                        <div class="">
                          <label for="deliveryTime" class="col-2 col-form-label">
                            <b>Delivery Time</b>
                          </label>
                          <div class="col-10">
                            <input type="datetime-local" id="editFormDeliveryTime" name="deliveryTime" value="" class="form-control">
                          </div>
                        </div>

                        <div class="">
                          <label for="pickupAddress" class="col-2 col-form-label">
                            <b>Pickup Address</b>
                          </label>
                          <div class="col-10">
                            <input type="text" id="editFormPickupAddress" name="pickupAddress" value="" class="form-control">
                          </div>
                        </div>

                        <div class="">
                          <label for="destinationAddress" class="col-2 col-form-label">
                            <b>Destination Address</b>
                          </label>
                          <div class="col-10">
                            <input type="text" id="editFormDestinationAddress" name="destinationAddress" value="" class="form-control">
                          </div>
                        </div>

                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                          <button type="submit" name="submit" class="btn btn-outline-success">Save changes</button>
                        </div>
                    </form>

                    </div>
                  </div>
                </div>
              </div>
            
              <script>
                $(document).ready(function() {
                  let editPostAction = $('#editFormId').attr('action');
  
                  $('.edit-task').on('click', function() {
                    $('#editFormDeliveryTime').val(getStructuredDate($(this).data('deliverytime')));  //val(new Date($(this).data('deliverytime')));     //val($(this).data('deliverytime'));
                    $('#editFormPickupAddress').val($(this).data('pickupaddress'));
                    $('#editFormDestinationAddress').val($(this).data('destinationaddress'));
                    $('#editFormTaskID').val($(this).data('id'));
                    
                    $('#editFormId').attr('action', editPostAction + $(this).data('id'));
                  });
                  
                  function getStructuredDate(dateTime) {
                    let date = new Date(dateTime),
                        day = '' + date.getDate(),
                        month = '' + (date.getMonth() + 1),
                        year = '' + date.getFullYear(),
                        hours = '' + date.getHours(),
                        minutes = '' + date.getMinutes();
                    
                    if(month.length < 2) month = '0' + month;
                    if(day.length < 2) day = '0' + day;
                    if(hours.length < 2) hours = '0' + hours;
                    if(minutes.length < 2) minutes = '0' + minutes; 
                    
                    return [year, month, day].join('-') + 'T' + hours + ':' + minutes;
                  }
                });
              
              </script>

          </main>

          <% include ../partials/footer %>