<% include ../partials/header %>
  <div class="container-fluid">
    <div class="row">
      <% include ../partials/sidenav-top %>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/">
            <i class="fas fa-home"></i> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employee">
            <i class="fas fa-users"></i> Employee Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/employee/task-overview">
            <i class="fas fa-tasks"></i> Tasks</a>
        </li>
        <% include ../partials/sidenav-bottom %>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Tasks</h1>
            </div>

            <!-- Active Task -->
            <h4 class="h5">Active Task</h4>
            <div class="col">
              <form hidden id="noActiveTask" action="/employee/<%= id %>/tasks/accept_task %>" method="post">
                <input class="btn btn-success" type="submit" name="accept_task" value="Get new task." />
              </form>
              <% if (items.length > 0) { %>
                <table id="activeTaskTable" hidden class="table">
                  <thead class="thead-light">
                    <tr>
                      <th style="width: 1%; text-align: center">TaskID</th>
                      <th style="width: 14%">Status</th>
                      <th style="width: 20%">DeliveryTime</th>
                      <th style="width: 15%">PickupAddress</th>
                      <th style="width: 15%">DestinationAddress</th>
                      <th style="width: 15%">Employee</th>
                      <th solspan="2" style="width: 20%; text-align: center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% items.forEach (function(item, index) { %>
                      <% if(item.Status == "Assigned" && item.EmployeeID == id) { %>
                        <tr>
                          <td style="width: 1%; text-align: center">
                            <%= item.TaskID %>
                          </td>
                          <td style="width: 14%">
                            <%= item.Status %>
                          </td>
                          <td style="width: 20%">
                            <% include ../partials/structured-time %>
                          </td>
                          <td style="width: 15%">
                            <%= item.PickupAddress %>
                          </td>
                          <td style="width: 15%">
                            <%= item.DestinationAddress %>
                          </td>
                          <td style="width: 15%">
                            <%= item.Name %>
                          </td>
                          <td solspan="2" style="width: 20%; text-align: center">
                            <form action="/employee/<%= id %>/tasks/done/<%= item.TaskID %>/<%= item.DestinationAddress %>" method="post">
                              <input class="btn btn-success" type="submit" name="done" value="Done" />
                            </form>
                          </td>
                        </tr>
                      <% } %>
                    <% }); %>
                  </tbody>
                </table>
                <% } else { %>
                  <p>
                    <strong>There is no data available.</strong>
                  </p>
                  <% } %>
            </div>

            <!-- Finished Tasks -->
            <h4 class="h5">Finished Tasks</h4>
            <div class="col">
              <% if (items) { %>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th style="width: 1%; text-align: center">TaskID</th>
                      <th style="width: 14%">Status</th>
                      <th style="width: 20%">DeliveryTime</th>
                      <th style="width: 25%">PickupAddress</th>
                      <th style="width: 25%">DestinationAddress</th>
                      <th style="width: 15%">Employee</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% items.forEach (function(item, index) { %>
                      <% if(item.Status == "Done" && item.EmployeeID == id) { %>
                        <tr>
                          <td style="width: 1%; text-align: center">
                            <%= item.TaskID %>
                          </td>
                          <td style="width: 14%">
                            <%= item.Status %>
                          </td>
                          <td style="width: 20%">
                            <% include ../partials/structured-time %>
                          </td>
                          <td style="width: 15%">
                            <%= item.PickupAddress %>
                          </td>
                          <td style="width: 15%">
                            <%= item.DestinationAddress %>
                          </td>
                          <td style="width: 15%">
                            <%= item.Name %>
                          </td>
                        </tr>
                        <% } %>
                          <% }); %>
                  </tbody>
                </table>
                <% } else { %>
                  <p>
                    <strong>There is no data available.</strong>
                  </p>
                  <% } %>
            </div>

            <!-- add task form modal -->
            <div>
              <div class="modal fade" id="addTaskForm" tabindex="-1" role="dialog" aria-labelledby="addTaskFormLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <form method="post" action="/manager/tasks/add">
                      <div class="modal-header">
                        <h4 class="modal-title" id="addTaskFormLabel">Add task</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">

                        <div class="">
                          <label for="deliveryTime" class="col-2 col-form-label">
                            <b>Delivery Time</b>
                          </label>
                          <div class="col-10">
                            <input type="datetime-local" name="deliveryTime" value="" class="form-control">
                          </div>
                        </div>

                        <div class="">
                          <label for="pickupAddress" class="col-2 col-form-label">
                            <b>Pickup Address</b>
                          </label>
                          <div class="col-10">
                            <input type="text" name="pickupAddress" value="" class="form-control">
                          </div>
                        </div>

                        <div class="">
                          <label for="destinationAddress" class="col-2 col-form-label">
                            <b>Destination Address</b>
                          </label>
                          <div class="col-10">
                            <input type="text" name="destinationAddress" value="" class="form-control">
                          </div>
                        </div>

                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                          <button type="submit" name="submit" class="btn btn-outline-success">Save changes</button>
                        </div>
                    </form>

                    </div>
                  </div>
                </div>
              </div>

              <script>
                $(document).ready(function() {
                  var tableSize = $('#activeTaskTable tbody tr').length;

                  if (tableSize > 0) {
                    $('#activeTaskTable').removeAttr('hidden');
                  } else {
                    $('#noActiveTask').removeAttr('hidden');
                  }
                });
              </script>

          </main>

          <% include ../partials/footer %>